# Adding a variable to capture NAN.
 - Handling the missing value by capturing the importance of the missing value.
 - Replacing the NAN values with the most frequent value.
 - Doing both here.

In [51]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [52]:
df = pd.read_csv("loan.csv",usecols=['BsmtQual','FireplaceQu','SalePrice','GarageType',])
df.head()

  BsmtQual FireplaceQu GarageType  SalePrice
0       Gd         NaN     Attchd     208500
1       Gd          TA     Attchd     181500
2       Gd          TA     Attchd     223500
3       TA          Gd     Detchd     140000
4       Gd          TA     Attchd     250000

In [53]:
# making new column for the feature and making them into 0's and 1's
# 0 --> not NAN value.
# 1 --> NAN value.
df['BsmtQual_var'] = np.where(df['BsmtQual'].isnull(),1,0)

In [57]:
# Replacing it with the most frequent value.
# first technique.
frequency= df['BsmtQual'].value_counts().index[0]
df['BsmtQual'].fillna(frequency,inplace=True)
# second Technique using mode.
frequency= df['BsmtQual'].mode()[0]
df['BsmtQual'].fillna(frequency,inplace=True)