# Frequency Encoding or Count Encoding
   ## -  Means Trying to change the categories of label in the form of occurrence of the label in the dataset.

In [54]:
import numpy as np
import pandas as pd

In [55]:
file = pd.read_csv("mercedesbenz.csv",usecols = ['X1','X2'])
file.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [56]:
# getting the shape means getting the no. of records and categories in the dataset
file.shape

(4209, 2)

In [57]:
# getting the dummy values in the dataset
pd.get_dummies(file).shape

(4209, 71)

In [58]:
# getting the unique values of the column 'X1'
len(file['X1'].unique())

27

In [59]:
# getting the unique values of the column 'X2'
len(file['X2'].unique())

44

In [60]:
# to check how labels are present for both columns.
for label in file.columns:
    print(label," : ",len(file[label].unique()),"values")

X1  :  27 values
X2  :  44 values

In [61]:
# preparing for x2 columns.
# having labels and values in the dictionary so that we can use for re-mapping the labels.
file_x2 = file.X2.value_counts().to_dict()
file.X2.head()

0    at
1    av
2     n
3     n
4     n
Name: X2, dtype: object

In [62]:
file.X2 = file.X2.map(file_x2)
file.X2

0          6
1          4
2        137
3        137
4        137
        ...
4204    1659
4205      29
4206     153
4207      81
4208     496
Name: X2, Length: 4209, dtype: int64

In [63]:
# preparing for x2 columns.
# having labels and values in the dictionary so that we can use for re-mapping the labels.
file_x1 = file.X1.value_counts().to_dict()
file.X1 = file.X1.map(file_x1)
file

       X1    X2
0     408     6
1      31     4
2      52   137
3      31   137
4     408   137
...   ...   ...
4204  598  1659
4205   82    29
4206  408   153
4207  251    81
4208  251   496

[4209 rows x 2 columns]