## One Hot Encoding Handling Categorical Feature

In [21]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline

In [27]:
df = pd.read_csv("train.csv",usecols=['Sex'])
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [28]:
# making one of the value to 0 and remaining value to 1
# Here 0--> male and 1--> female
pd.get_dummies(df,drop_first=True).head()

   Sex_male
0         1
1         0
2         0
3         0
4         1